@media screen and (max-width:520px)
{

  body {
    width: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .logo {
    border-radius: 60%;
    margin-left: 80px; 
   }

.top-eyechatch {
  background-image: url(images/sp_top.jpg);
}

.top-eyechatch h1 {
  font-size: 50px;
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  top:100px;
  left: 15px;
 }
 
 .top-eyechatch p {
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  position: absolute; 
  top: 250px;
  left: 15px;
 }

 .image-vw {
   width : 50vw;
 }

/*------各種indexページSP------*/

.grid-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
 }


 .grid-inner {
  width: 80%;
  margin-top: 20px;
}

.grid-inner img {
  width: 70%;
  height: 70%;
  border-radius: 10%;
  margin-top: 15px;
  text-align: center;
}

.grid-inner p {
  margin-top: 0;
  font-size: medium;
}

.grid-inner h2 {
  font-size: x-large;
}

}
