@media screen and (max-width:520px)
{

  body {
    width: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

.menu-pc {
  display: none;
}

.menu-sp {
  display: inline;
}

#input {
  display: none;
}

.link li {
   text-decoration: none;
   list-style: none;
   font-size: medium;
   text-align: left;
  }
 
/*3本線を作る*/
 
.line1,.line2,.line3 {
	width: 20px;
	height: 3px;
	background-color: black;
  margin: 3px;
  text-align: right;
}

#hamburg {
  position: absolute; 
  top: 100px;
  left: 40px;

}
 
/*メニューのデザイン*/
 
#content{
	background-color: #dcdcdc;
	width: 200px;
	height: 100%;
	transform: translateX(-210px); /*左側の奥の奥に埋めておく*/
}
 
/*チェックが入ったら見せる*/
 
#input:checked ~ #content {
	transform: translatex(0px);　/*通常値に戻す*/
}


.top-eyechatch {
  background-image: url(images/sp_top.jpg);
}

.top-eyechatch h1 {
  font-size: 50px;
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  top:100px;
  left: 15px;
 }
 
 .top-eyechatch p {
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  position: absolute; 
  top: 250px;
  left: 15px;
 }


 .image-vw {
   width : 50vw;
 }
