@media screen and (max-width:520px)
{

  body {
    width: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

.top-eyechatch {
  background-image: url(images/sp_top.jpg);
}

.top-eyechatch h1 {
  font-size: 50px;
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  top:100px;
  left: 15px;
 }
 
 .top-eyechatch p {
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  position: absolute; 
  top: 250px;
  left: 15px;
 }


 .image-vw {
   width : 50vw;
 }

 .logo {
   text-align: center;
 }

}
