@charset "utf-8";

body {
 width: 960px;
 margin: 0 auto;
 padding: 0;
 background-color: #ffffff;
 color: #000000;
 line-height: 2;
    
}
/* -----header start-------------- */
header {
 height: 170px;
 display: flex;
 justify-content: space-between;
 align-items: right;
}

.global-nav {
 display: flex;
 justify-content: flex-end;
}

.global-nav li {
 margin: 0 10px;
 font-size: 20px;
 text-decoration: none;
 list-style: none;
}

.btn {
 background-color: #F4CDCD;
 color: #707070;
 font-size: 20px;
 width: 100px;
 display: block;
 margin: 25px auto;
 text-align: center;
 border-radius: 5px;
 text-decoration: none;
}

.logo {
 border-radius: 60%;
 margin-left: 20px; 
}

.menu-sp {
  display: none;
}


/* ----- header fin-------------- */


/* ----- footer start-------------- */

footer {
 text-align: center;
 margin-top: 60px;
}

footer small {
 font-size: 10px;
}

/* ----- footer fin-------------- */

/* ----- トップページ start-------------- */

.top-eyechatch h1 {
 font-size: 80px;
 color: #000000;
 background-color: #ffffff;
 position: absolute;
 top: 30px;
 left: 70px;
}

.top-eyechatch p {
 font-size: 25px;
 color: #000000;
 background-color: #ffffff;
 position: absolute; 
 top: 250px;
 left: 70px;

}

.top-eyechatch {
 width: 100%;
 height: 540px;
 background-image: url(images/top.jpg);
 background-repeat: no-repeat;
 margin-top: 15px;
 position: relative;
 background-position: center;

}


.profile-photo img {
 border-radius: 50%;
}

.profile-photo {
 text-align: center;
 font-size: 20px;
 margin-top: 50px;
    
}

.profile-text {
 text-align: center;
 font-size: 15px;
 margin-top: 35px;
}

/* ----- トップページ fin-------------- */

/*-----indexページ,requestページ共有 start------------*/

.page-h1 {
  text-align: center;
}

.page-h1 h1 {
  margin: 20px 0; 
}

.page-h1 p {
  font-size: 16px;
}

/*-----indexページ,requestページ共有 fin------------*/


/*-------各indexページ　start----------*/

.grid-outer {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin-top: 60px;
}

.grid-inner {
  width: 30%;
  margin-top: 20px;
  text-align: center;
}

.grid-inner img {
  width: 300px;
  height: 300px;
  border-radius: 10%;
}

.grid-inner h2 + p{
  margin: 20px 0; 
}

.contents {
 text-align: center;
 margin-top: 30px;
}

.contents p {
 font-size: 16px;
 text-align: center;
 margin-top: 20px;
}

/* -----yado以外の各詳細ページstart-------------- */


.store-infomation h2 {
 text-align: center;
 font-size: 16px;
 margin-top: 50px;
}

table {
 font-size: 16px;
 margin: 0 auto;
}

table th{
 width: 130px;
 background-color: #f0f0f0;
 padding: 5px 0;
 border: 1px solid #cccccc;
}

.store-infomation table td {
 padding-left: 25px;
}

.contentsbtn {
 font-size: 15px;
 width: 200px;  
}

.contentbtn-wrapper {
  margin-top: 40px;
}

/* -----yado以外の各詳細ページfin-------------- */

body {
  text-align: center;
}

header {
  z-index: 1;
}